<!DOCTYPE html>
<html>
	<head>
		<title>IT-Forum.net</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/global-style.css">
		<link rel="stylesheet" href="../css/main-style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<script src="../js/main.js"></script>
	</head>
	<body>
		<header>
			<nav class="top-bar">
				<a href="javascript:switch_left_bar()" id="hamburger-menu">
					<img src="../img/menu.svg" alt="menu">
				</a>
				<a href="" id="logo">
					<img src="../img/logo.svg" alt="logo">
				</a>
				<a href="" id="profile-menu">
					<img src="../img/profile.svg" alt="profile">
				</a>
			</nav>
			<nav class="left-bar" id="left-bar-id">
				<ul>
					<span>Dyskusje</span>
					<a href="">Nowe</a>
					<a href="">Popularne</a>
					<a href="">Lubiane</a>
					<a href="">Najczęściej oglądane</a>
					<span>Moje dyskusje</span>
					<a href="">Dodaj</a>
					<a href="">Przeglądaj</a>
					<span>Pozostałe</span>
					<a href="">FAQ</a>
					<a href="">O forum</a>
				</ul>
			</nav>
		</header>
	</body>
</html>