.center-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.option-list a {
	color: #CCFFFF;
	text-decoration: none;
	display: block;
	margin: 5px 0;
}

form {
	display: flex;
	flex-direction: column;
}

input {
	margin: 0 0 10px 0;
	padding: 8px;
	border: none;
	border-radius: 5px;
	background-color: #CCCCCC;
}

button {
	background-color: #2962ff;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.circle {
	position: absolute;
	border-radius: 50%;
}

@media (min-height: 700px) {
	.circle.green {
		width: 200px;
		height: 200px;
		top: -80px;
		left: -80px;
		border: 6px dashed #00c853;
	}
	
	.circle.blue {
		width: 230px;
		height: 230px;
		top: -92px;
		left: -92px;
		border: 6px dashed #2962ff;
	}
}

@media (min-width: 900px) {
	.circle.green {
		width: 400px;
		height: 400px;
		top: -150px;
		left: -150px;
		border: 8px dashed #00c853;
	}
	
	.circle.blue {
		width: 450px;
		height: 450px;
		top: -168px;
		left: -168px;
		border: 8px dashed #2962ff;
	}
}
.message-tab{
	position: absolute;
	bottom: 0;
	height: 40px;
	padding: 5px;
	background-color: #2962ff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.message-text{
	min-width: 160px;
	padding: 0 10px;
	display: flex;
	justify-content: center;
}
.message-close{
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio : 1 / 1;
	height:100%;
	text-decoration: none;
	color: inherit;
}
.message-close:hover{
	background-color: #1350fc;
	cursor: pointer;
}