.top-bar {
	background-color: #0A1833FF;
	align-items: center;
	height: 70px;
	display: flex;
}

#hamburger-menu {
	margin: 0px 15px 0px 7px;
}

#hamburger-menu img:hover {
	content: url("../img/menu-hover.svg");
}

#logo {
	margin-top: 3px;
}

#profile-menu {
	margin-right: 10px;
	margin-left: auto;
}

#profile-menu img:hover {
	content: url("../img/profile-hover.svg");
}

.left-bar {
	background-color: #0A1833FF;
	width: 300px;
	height: calc(100vh - 70px);
	display: none;
	float: left;
	position: absolute;
}

.left-bar a {
	display: block;
	margin: 3px 0px;
	color: inherit;
	text-decoration: none;
	font-weight: normal;
}

.left-bar a:hover {
	text-decoration: underline;
	font-weight: bold;
}

.left-bar span {
	display: block;
	font-size: 2em;
	margin: 20px 0px 10px 0px;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.thread-container{
	width: 90%;
}
@media (min-width: 900px) {
	.thread-container{
		width: 50%;
	}
}
.thread-container h1{
	margin-top: 60px;
	margin-bottom: 10px;
	font-size: 2.5em;
}
.thread-box {
	background-color: #041026;
	border-color: #CCFFFF;
	border: 3px;
	border-style: solid;
	border-radius: 35px;
	padding: 10px 50px 40px 50px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.reply-box {
	margin: 10px 50px 10px 20px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.thread-list hr{
	border-color: #303e67;
}

.thread-card{
	display: flex;
	align-items: center;
	margin: 20px 0;
}

.thread-card a{
	text-decoration: none;
	color: inherit;
}
.thread-image{
	width: 10%;
}
.thread-image-element{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.thread-image-element-2{
	display: flex;
	align-items: center;
	font-size: 1.5em;
}
.thread-image-element img{
	width: 20px;
	height: 20px;
	filter: invert(0.5) sepia(1) saturate(2) hue-rotate(175deg);
}
.thread-image-element-2 img{
	width: 30px;
	height: 30px;
	filter: invert(0.5) sepia(1) saturate(2) hue-rotate(175deg);
}
.thread-info{
	padding-left: 20px;
	width: 90%;
}
.thread-title{
	font-size: 2em;
}
.thread-tags{
	font-size: 1em;
}
.publish-date {
	color: #667f7f;
	margin: 0px 0px 0px 15px;
}
.reply-btn {
	margin: 10px 0px 100px 40px;
	background-color: #16368f;
	font-size: 1.25em;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.thread-container form {
	flex-direction: column;
}
.data-in {
	width: 100%;
	height: 300px;
	box-sizing: border-box;
	margin-bottom: 30px;
	padding: 10px;
	text-align: left;
	background-color: #06183a;
	border: none;
	font-size: 1.5em;
	color: #CCFFFF;
}
.add-reply {
	width: 200px;
	height: 40px;
	margin: 10px 0px 10px 0px;
	background-color: #1d4ac7;
	font-size: 1.25em;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.cancel-reply {
	width: 200px;
	height: 40px;
	margin: 10px 0px 10px 0px;
	background-color: #102868;
	font-size: 1.25em;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}